@import '../../styles/mixins/index';
@import '../tabpane/tabpane.scss';

.nut-tabs {
  display: flex;
}

.nut-tabs-titles {
  display: flex;
  box-sizing: border-box;
  height: $tabs-titles-height;
  user-select: none;
  overflow: hidden;
  background: $tabs-titles-background-color;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    background: transparent;
  }
  .nut-tabs-list {
    width: 100%;
    height: auto;
    display: flex;
    flex-shrink: 0;
  }
  &-left {
    justify-content: flex-start;
    .nut-tabs-titles-item {
      padding: 0 22px;
    }
  }
  &-right {
    justify-content: flex-end;
    .nut-tabs-titles-item {
      padding: 0 22px;
    }
  }
  &-scrollable {
    overflow-x: auto;
    overflow-y: hidden;
  }

  &-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    padding: 0 $tabs-titles-gap;
    height: $tabs-titles-height;
    line-height: $tabs-titles-height;
    min-width: $tabs-titles-item-min-width;
    font-size: $tabs-titles-font-size;
    color: $tabs-titles-item-color;
    text-overflow: ellipsis;
    white-space: nowrap;

    &-left,
    &-right {
      flex: none;
    }
    &-text {
      text-align: center;
    }
    &-smile,
    &-line {
      position: absolute;
      transition: width 0.3s ease;
      width: 0;
      height: 0;
      content: ' ';
      bottom: $tabs-tab-line-bottom;
      left: 50%;
      transform: translate(-50%, 0);
      border-radius: $tabs-tab-line-border-radius;
      opacity: $tabs-tab-line-opacity;
      overflow: hidden;
    }

    &-smile {
      bottom: $tabs-titles-item-smile-bottom;
      .nut-icon {
        position: absolute;
        font-size: 20px;
        width: 100%;
        height: 100%;
        color: $color-primary;
      }
    }

    &-active {
      color: $tabs-titles-item-active-color;
      font-weight: $tabs-titles-item-active-font-weight;
      .nut-tabs-titles-item-line {
        overflow: unset;
        content: ' ';
        width: $tabs-tab-line-width;
        height: $tabs-tab-line-height;
        background: $tabs-tab-line-color;
      }
      .nut-tabs-titles-item-smile {
        overflow: unset;
        width: 40px;
        height: 20px;
      }
    }
    &-disabled {
      color: $color-text-disabled;
    }
  }

  &-simple {
    .nut-tabs-titles-item-active {
      color: $color-title;
      font-size: $tabs-titles-item-active-font-size;
    }
  }

  &-card {
    padding: 0;
    background-color: $color-default-light;
    .nut-tabs-titles-item {
      padding: 0;
      &-active {
        font-weight: $font-weight-bold;
        background-color: $white;
        border-radius: $radius-base $radius-base 0 0;
      }
    }
  }

  &-button {
    .nut-tabs-titles-item {
      padding: 0 10px;
      .nut-tabs-titles-item-text {
        flex: 1;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 8px;
      }
    }
    .nut-tabs-titles-item-active {
      .nut-tabs-titles-item-text {
        background: $color-default-light;
        border-radius: $tabs-tab-button-border-radius;
        font-weight: $font-weight-bold;
        background-color: $tabs-tab-button-active-background-color;
        border: $tabs-tab-button-active-border;
      }
    }
  }

  &-divider {
    padding: 0;
    border-bottom: 1px solid $color-border;
    .nut-tabs-titles-item {
      padding: 0;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        height: 50%;
        width: 1px;
        background: $color-border;
        transform: translateY(-50%);
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}

[dir='rtl'] .nut-tabs-titles,
.nut-rtl .nut-tabs-titles {
  &-item {
    &-smile,
    &-line {
      left: auto;
      right: 50%;
      transform: translate(50%, 0);
    }
  }
  &-divider {
    .nut-tabs-titles-item {
      &::after {
        right: auto;
        left: 0;
      }
    }
  }
}

.nut-tabs-horizontal {
  flex-direction: column;
  position: relative;
}

.nut-tabs-content {
  display: flex;
  box-sizing: border-box;
  &-wrap {
    overflow: hidden;
  }
}
